:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.title {
  text-decoration: none;
  color: inherit;
}

.header-spacer {
  flex: 1;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 500;
}

.spinner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
