:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.title {
  text-decoration: none;
  color: inherit;
  margin-left: 8px;
  margin-right: 8px;
}

.header-spacer {
  flex: 1;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 500;
}

.drawer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.spinner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  //margin-left: -12px;
}

.menu-icon {
  margin-right: 8px;
}
