<mat-toolbar class="main-toolbar" color="primary">
  <button *ngIf="showMenu$ | async"
          class="menu-toggle"
          mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="title" routerLink="">House routine hub</a>

  <ng-container *ngIf="!(showMenu$ | async)">
    <button mat-icon-button (click)="showVersion()">
      <mat-icon>info</mat-icon>
    </button>
  </ng-container>

  <div class="header-spacer"></div>

  <ng-container *ngIf="auhResolved$ | async">
    <app-user-menu></app-user-menu>
  </ng-container>
</mat-toolbar>

<mat-drawer-container class="drawer" [autosize]="true">
  <mat-drawer #drawer mode="over">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon class="menu-icon">info</mat-icon>
        <a (click)="showVersion()">Info</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="content">
    <ng-container *ngIf="auhResolved$ | async; else spinner">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
</ng-template>
