@import "~@angular/material/theming";
@import "app/_components/information-card/information-card/information-card.theme";

@include mat-core;

$primary: mat-palette($mat-blue-gray);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include information-card-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
